@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Heavy.woff2') format('woff2'),
        url('fonts/Mont-Heavy.woff') format('woff'),
        url('fonts/Mont-Heavy.ttf') format('truetype'),
        url('fonts/Mont-Heavy.svg#Mont-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Bold.woff2') format('woff2'),
        url('fonts/Mont-Bold.woff') format('woff'),
        url('fonts/Mont-Bold.ttf') format('truetype'),
        url('fonts/Mont-Bold.svg#Mont-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-RegularItalic.woff2') format('woff2'),
        url('fonts/Mont-RegularItalic.woff') format('woff'),
        url('fonts/Mont-RegularItalic.ttf') format('truetype'),
        url('fonts/Mont-RegularItalic.svg#Mont-RegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Regular.woff2') format('woff2'),
        url('fonts/Mont-Regular.woff') format('woff'),
        url('fonts/Mont-Regular.ttf') format('truetype'),
        url('fonts/Mont-Regular.svg#Mont-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}